<!-- navbar design -->

      <div class="navbar-sticky" id="navbar">
        <div class="navbar">
          <input type="checkbox" id="check" />
          <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
          </label>
          <img src="../../assets/rapido logo.png"/>
          <ul>
            <li><a href="#"> Home </a></li>
            <li><a routerLink="/rents"> Rentals </a></li>
            <li><a routerLink="/whyus"> Why Us </a></li>
            <li><a routerLink="/aboutus"> About Us </a></li>
            <li><a href="#Footer"> Contact Us </a></li>
          </ul>
          <button routerLink="/admin-login" >Admin Login</button>
        </div>
      </div>

      <!-- navbar end -->

    

