/* navbar designing */
.navbar {
    display: flex;
    height: auto;
    align-items: center;
    width: 1100px;
    margin: auto;
    justify-content: space-between;
  }
  
  .checkbtn {
    font-size: 20px;
    color: #f9c935;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  
  .navbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
  }
  
  .navbar img {
    width: 100px;
  }
  
  .navbar ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-left: 180px;
  }
  
  .navbar ul li {
    cursor: pointer;
    position: relative;
    list-style: none;
    color: black;
    padding-bottom: 6px;   
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: black;
  }
  
  .navbar ul li::before {
    content: "";
    width: 0px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
    background-color: black;
  }
  
  .navbar ul li:hover::before {
    width: 100%;
  }
  
  .navbar button {
    padding: 10px 20px;
    border-radius: 20px 15px 0px 20px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    font-weight: bold;
  }
  
  /* navbar end */