<!-- app footer -->

<div class="footer-section" id="Footer">
<div class="footer">
    <div class="footer-area">
      <h2>Customer app</h2>
      <img src="../../assets/footer play_store.svg"/>
      <img src="../../assets/footer app_store.svg"/>
    </div>
    <div class="footer-area">
      <h2>Captain app</h2>
      <img src="../../assets/footer play_store.svg"/>
    </div>
    <div class="footer-area">
      <h4>Home</h4>
      <p>About us</p>
      <p>Careers</p>
      <p>Blog</p>
    </div>
    <div class="footer-area">
      <h4>Privacy Policy</h4>
      <p>Customer Terms</p>
      <p>Captain Terms</p>
      <p>Press</p>
    </div>

    <!-- footer-icons -->

    <div class="footer-icons">
      <h4>Follow Us</h4>
      <div class="footer-icons-area">
        <a href="https://www.facebook.com/rapido4bike/" target="_blank"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="https://twitter.com/rapidobikeapp" target="_blank"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="https://www.linkedin.com/company/rapido-bike/"
          ><i class="fa-brands fa-linkedin-in" target="_blank"></i
        ></a>
        <a href="https://www.instagram.com/rapidoapp/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
    </div>
  </div>
</div>

  <div class="footer-copyright">
    <p>© 2022 Nanda Kumar V. All rights reserved.</p>
  </div>

  <!-- footer end -->
